<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tutuniao.tutuniao.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.tutuniao.tutuniao.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_name, user_password
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userName != null and userName !=''">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="userPassword != null and userPassword !=''">
                and user_password = #{userPassword,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_user
        where id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="queryUserList" resultMap="BaseResultMap"
            parameterType="com.tutuniao.tutuniao.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <include refid="Base_Where_Clause"/>
    </select>

    <delete id="deleteUser" parameterType="java.lang.Integer" >
        delete from t_user
        where id = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insertUser" parameterType="com.tutuniao.tutuniao.entity.User" >
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userName != null and userName ! = ''" >
                user_name,
            </if>
            <if test="userPassword != null and userPassword ! = ''" >
                user_password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null and userName ! = ''" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null and userPassword ! = ''" >
                #{userPassword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateUser" parameterType="com.tutuniao.tutuniao.entity.User" >
        update t_user
        <set >
            <if test="userName != null and userName ! = ''" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null and userPassword ! = ''" >
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{userId,jdbcType=INTEGER}
    </update>

    <select id="queryUserByPassword" resultMap="BaseResultMap"
            parameterType="com.tutuniao.tutuniao.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <include refid="Base_Where_Clause"/>
    </select>

</mapper>