<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tutuniao.tutuniao.mapper.NewsMapper" >
    <resultMap id="BaseResultMap" type="com.tutuniao.tutuniao.entity.News" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="news_url" property="newsUrl" jdbcType="VARCHAR" />
        <result column="news_pic" property="newsPic" jdbcType="VARCHAR" />
        <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
        <result column="news_is_able" property="newsIsAble" jdbcType="INTEGER" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, news_url, news_pic, news_title, news_is_able, create_user, create_date, update_user, update_date
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="newsUrl != null and newsUrl !=''">
                and news_url = #{newsUrl,jdbcType=VARCHAR}
            </if>
            <if test="newsPic != null and newsPic !=''">
                and news_pic = #{newsPic,jdbcType=VARCHAR}
            </if>
            <if test="newsTitle != null and newsTitle !=''">
                and news_title = #{newsTitle,jdbcType=VARCHAR}
            </if>
            <if test="newsIsAble != null and newsIsAble !=''">
                and news_is_able = #{newsIsAble,jdbcType=INTEGER}
            </if>
            <if test="createUser != null and createUser !=''">
                and create_user = #{createUser,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUser != null and updateUser !=''">
                and update_user = #{updateUser,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <!--<select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_user
        where id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="queryNewsList" parameterType="java.lang.Integer" >
        delete from t_news
        where id = #{userId,jdbcType=INTEGER}
    </delete>-->

    <select id="queryNewsList" resultMap="BaseResultMap"
            parameterType="com.tutuniao.tutuniao.entity.News">
        select
        <include refid="Base_Column_List"/>
        from t_news
        <include refid="Base_Where_Clause"/>
    </select>



    <insert id="insertNews" parameterType="com.tutuniao.tutuniao.entity.News" useGeneratedKeys="true" keyProperty="id">
        insert into t_news
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="newsUrl != null and newsUrl !=''">
                news_url,
            </if>
            <if test="newsPic != null and newsPic !=''">
                news_pic,
            </if>
            <if test="newsTitle != null and newsTitle !=''">
                news_title,
            </if>
            <if test="newsIsAble != null">
                news_is_able,
            </if>
            <if test="createUser != null and createUser !=''">
                create_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateUser != null and updateUser !=''">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="newsUrl != null and newsUrl !=''">
                #{newsUrl,jdbcType=VARCHAR},
            </if>
            <if test="newsPic != null and newsPic !=''">
                #{newsPic,jdbcType=VARCHAR},
            </if>
            <if test="newsTitle != null and newsTitle !=''">
                #{newsTitle,jdbcType=VARCHAR},
            </if>
            <if test="newsIsAble != null">
                #{newsIsAble,jdbcType=INTEGER},
            </if>
            <if test="createUser != null and createUser !=''">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null and updateUser !=''">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--<update id="updateUser" parameterType="com.tutuniao.tutuniao.entity.User" >
        update t_user
        <set >
            <if test="userName != null and userName ! = ''" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null and userPassword ! = ''" >
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>-->

</mapper>