<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tutuniao.tutuniao.mapper.GuoMeiTemplateMapper" >
    <resultMap id="BaseResultMap" type="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="number_id" property="numberId" jdbcType="INTEGER" />
        <result column="student_name" property="studentName" jdbcType="VARCHAR" />
        <result column="nationality" property="nationality" jdbcType="VARCHAR" />
        <result column="nation" property="nation" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
        <result column="certificate_number" property="certificateNumber" jdbcType="VARCHAR" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="declare_level" property="declareLevel" jdbcType="VARCHAR" />
        <result column="examination_level" property="examinationLevel" jdbcType="VARCHAR" />
        <result column="original_level" property="originalLevel" jdbcType="VARCHAR" />
        <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
        <result column="exam_date" property="examDate" jdbcType="TIMESTAMP" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="valid" property="valid" jdbcType="INTEGER" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="act_id" property="actId" jdbcType="INTEGER" />
        <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
        <!--<association property="activity" javaType="com.tutuniao.tutuniao.entity.Activity" >-->
            <!--<id column="id" property="id" jdbcType="INTEGER" />-->
            <!--<result column="activity_name" property="activityName" jdbcType="VARCHAR" />-->
            <!--<result column="activity_code" property="activityCode" jdbcType="VARCHAR" />-->
            <!--<result column="activity_date" property="activityDate" jdbcType="TIMESTAMP" />-->
            <!--<result column="create_user" property="createUser" jdbcType="VARCHAR" />-->
            <!--<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />-->
            <!--<result column="update_user" property="updateUser" jdbcType="VARCHAR" />-->
            <!--<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />-->
        <!--</association>-->

    </resultMap>
    <sql id="Base_Column_List" >
        id, number_id, student_name, nationality, nation, gender, birth_date, certificate_number, profession, declare_level,
        examination_level, original_level, native_place, exam_date, create_date, create_user, valid, act_id, id_card
    </sql>
    <sql id="Base_Activity_GuoMei_List" >
--      G.id, G.number_id, G.student_name, G.nationality, G.nation, G.gender, G.birth_date, G.certificate_number, G.profession, G.declare_level,
--      G.examination_level, G.original_level, G.native_place, G.exam_date, G.create_date, G.create_user, G.valid, G.act_id,
--      A.id, A.activity_name, A.activity_code, A.activity_date, A.create_user, A.create_date, A.update_user, A.update_date
     G.id, G.number_id, G.student_name, G.nationality, G.nation, G.gender, G.birth_date, G.certificate_number, G.profession, G.declare_level,
     G.examination_level, G.original_level, G.native_place, G.exam_date, G.create_date, G.create_user, G.valid, G.act_id, G.id_card,
     A.activity_name
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            valid=0
            <if test="id != null">
                and G.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="numberId != null and numberId !=''">
                and G.number_id = #{numberId,jdbcType=INTEGER}
            </if>
            <if test="studentName != null and studentName !=''">
                and G.student_name like CONCAT('%',#{studentName,jdbcType=VARCHAR},'%')
            </if>
            <if test="nationality != null and nationality !=''">
                and G.nationality = #{nationality,jdbcType=VARCHAR}
            </if>
            <if test="nation != null and nation !=''">
                and G.nation = #{nation,jdbcType=VARCHAR}
            </if>
            <if test="gender != null and gender !=''">
                and G.gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="birthDate != null">
                and G.birth_date = #{birthDate,jdbcType=TIMESTAMP}
            </if>
            <if test="certificateNumber != null and certificateNumber !=''">
                and G.certificate_number like CONCAT(#{certificateNumber,jdbcType=VARCHAR},'%')
            </if>
            <if test="profession != null and profession !=''">
                and G.profession like CONCAT('%',#{profession,jdbcType=VARCHAR},'%')
            </if>
            <if test="declareLevel != null and declareLevel !=''">
                and G.declare_level = #{declareLevel,jdbcType=VARCHAR}
            </if>
            <if test="examinationLevel != null and examinationLevel !=''">
                and G.examination_level = #{examinationLevel,jdbcType=VARCHAR}
            </if>
            <if test="originalLevel != null and originalLevel !=''">
                and G.original_level = #{originalLevel,jdbcType=VARCHAR}
            </if>
            <if test="nativePlace != null and nativePlace !=''">
                and G.native_place = #{nativePlace,jdbcType=VARCHAR}
            </if>
            <if test="examDate != null">
                and G.exam_date = #{examDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createDate != null">
                and G.create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createUser != null and createUser !=''">
                and G.create_user = #{createUser,jdbcType=VARCHAR}
            </if>
            <if test="actId != null and actId !=''">
                and G.act_id = #{actId,jdbcType=INTEGER}
            </if>
            <if test="idCard != null and idCard !=''">
                and G.id_card = #{idCard,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="queryGuoMeiTemplate" resultMap="BaseResultMap" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        select
        <include refid="Base_Column_List" />
        from t_guomei_template G
        where  id_card = #{idCard,jdbcType=VARCHAR}
        and student_name = #{studentName,jdbcType=VARCHAR}
    </select>

    <select id="queryGuoMeiTemplateById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_guomei_template G
        where id = #{gmId,jdbcType=INTEGER}
    </select>

    <select id="queryGuoMeiTemplateList" resultMap="BaseResultMap"
            parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate">
        select
        <include refid="Base_Activity_GuoMei_List"/>
        from t_guomei_template G
        left join t_activity A on G.act_id = A.id
        <include refid="Base_Where_Clause"/>
        order by G.id desc
    </select>

    <delete id="deleteGuoMeiTemplateById" parameterType="java.lang.Integer" >
        delete from t_guomei_template
        where id = #{gmId,jdbcType=INTEGER}
    </delete>

    <insert id="insertGuoMeiTemplate" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        insert into t_guomei_template
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="numberId != null and numberId !=''">
                number_id,
            </if>
            <if test="studentName != null and studentName !=''">
                student_name,
            </if>
            <if test="nationality != null and nationality !=''">
                nationality,
            </if>
            <if test="nation != null and nation !=''">
                nation,
            </if>
            <if test="gender != null and gender !=''">
                gender,
            </if>
            <if test="birthDate != null">
                birth_date,
            </if>
            <if test="certificateNumber != null and certificateNumber !=''">
                certificate_number,
            </if>
            <if test="profession != null and profession !=''">
                profession,
            </if>
            <if test="declareLevel != null and declareLevel !=''">
                declare_level,
            </if>
            <if test="examinationLevel != null and examinationLevel !=''">
                examination_level,
            </if>
            <if test="originalLevel != null and originalLevel !=''">
                original_level,
            </if>
            <if test="nativePlace != null and nativePlace !=''">
                native_place,
            </if>
            <if test="examDate != null">
                exam_date,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null and createUser !=''">
                create_user,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="actId != null">
                act_id,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="numberId != null and numberId !=''">
                #{numberId,jdbcType=INTEGER},
            </if>
            <if test="studentName != null and studentName !=''">
                #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="nationality != null and nationality !=''">
                #{nationality,jdbcType=VARCHAR},
            </if>
            <if test="nation != null and nation !=''">
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="gender != null and gender !=''">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                #{birthDate,jdbcType=TIMESTAMP},
            </if>
            <if test="certificateNumber != null and certificateNumber !=''">
                #{certificateNumber,jdbcType=VARCHAR},
            </if>
            <if test="profession != null and profession !=''">
                #{profession,jdbcType=VARCHAR},
            </if>
            <if test="declareLevel != null and declareLevel !=''">
                #{declareLevel,jdbcType=VARCHAR},
            </if>
            <if test="examinationLevel != null and examinationLevel !=''">
                #{examinationLevel,jdbcType=VARCHAR},
            </if>
            <if test="originalLevel != null and originalLevel !=''">
                #{originalLevel,jdbcType=VARCHAR},
            </if>
            <if test="nativePlace != null and nativePlace !=''">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="examDate != null">
                #{examDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null and createUser !=''">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=INTEGER},
            </if>
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateGuoMeiTemplateById" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        update t_guomei_template
        <set >
            <if test="numberId != null and numberId !=''">
                number_id = #{numberId,jdbcType=INTEGER},
            </if>
            <if test="studentName != null and studentName !=''">
                student_name = #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="nationality != null and nationality !=''">
                nationality = #{nationality,jdbcType=VARCHAR},
            </if>
            <if test="nation != null and nation !=''">
                nation = #{nation,jdbcType=VARCHAR},
            </if>
            <if test="gender != null and gender !=''">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                birth_date = #{birthDate,jdbcType=TIMESTAMP},
            </if>
            <if test="certificateNumber != null and certificateNumber !=''">
                certificate_number = #{certificateNumber,jdbcType=VARCHAR},
            </if>
            <if test="profession != null and profession !=''">
                profession = #{profession,jdbcType=VARCHAR},
            </if>
            <if test="declareLevel != null and declareLevel !=''">
                declare_level = #{declareLevel,jdbcType=VARCHAR},
            </if>
            <if test="examinationLevel != null and examinationLevel !=''">
                examination_level = #{examinationLevel,jdbcType=VARCHAR},
            </if>
            <if test="originalLevel != null and originalLevel !=''">
                original_level = #{originalLevel,jdbcType=VARCHAR},
            </if>
            <if test="nativePlace != null and nativePlace !=''">
                native_place = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="examDate != null">
                exam_date = #{examDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null and createUser !=''">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                valid = #{valid,jdbcType=INTEGER},
            </if>
            <if test="actId != null">
                act_id = #{actId,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>