<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tutuniao.tutuniao.mapper.GuoMeiTemplateMapper" >
    <resultMap id="BaseResultMap" type="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="number_id" property="numberId" jdbcType="INTEGER" />
        <result column="student_name" property="studentName" jdbcType="VARCHAR" />
        <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="results" property="results" jdbcType="VARCHAR" />
        <result column="works_name" property="worksName" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="valid" property="valid" jdbcType="INTEGER" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="act_id" property="actId" jdbcType="INTEGER" />
        <result column="activity_name" property="activityName" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="Base_Column_List" >
        id,
        number_id,
        student_name,
        birth_date,
        profession,
        results,
        works_name,
        create_date,
        create_user,
        valid,
        act_id,
        id_card
    </sql>
    <sql id="Base_Activity_GuoMei_List" >
     G.id,
     G.number_id,
     G.student_name,
     G.birth_date,
     G.profession,
     G.results,
     G.works_name,
     G.create_date,
     G.create_user,
     G.valid,
     G.act_id,
     G.id_card,
     A.activity_name
    </sql>
    <sql id="Base_Activity_GuoMei_show_List" >
     G.results,
     G.works_name,
     G.profession,
     G.create_date,
     G.student_name,
     CONCAT(LEFT(G.id_card,3), '****' ,RIGHT(G.id_card,4)) id_card,
     A.activity_name
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            valid=0
            <if test="id != null">
                and G.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="numberId != null and numberId !=''">
                and G.number_id = #{numberId,jdbcType=INTEGER}
            </if>
            <if test="studentName != null and studentName !=''">
                and G.student_name like CONCAT('%',#{studentName,jdbcType=VARCHAR},'%')
            </if>
            <if test="birthDate != null">
                and G.birth_date = #{birthDate,jdbcType=TIMESTAMP}
            </if>
            <if test="profession != null and profession !=''">
                and G.profession like CONCAT('%',#{profession,jdbcType=VARCHAR},'%')
            </if>
            <if test="results != null and results !=''">
                and G.results like CONCAT('%',#{results,jdbcType=VARCHAR},'%')
            </if>
            <if test="worksName != null and worksName !=''">
                and G.works_name like CONCAT('%',#{worksName,jdbcType=VARCHAR},'%')
            </if>
            <if test="valid != null">
                and G.valid = #{valid,jdbcType=INTEGER}
            </if>
            <if test="createDate != null">
                and G.create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createUser != null and createUser !=''">
                and G.create_user = #{createUser,jdbcType=VARCHAR}
            </if>
            <if test="actId != null and actId !=''">
                and G.act_id = #{actId,jdbcType=INTEGER}
            </if>
            <if test="idCard != null and idCard !=''">
                and G.id_card like CONCAT('%', #{idCard,jdbcType=VARCHAR} ,'%')
            </if>
        </where>
    </sql>

    <select id="queryGuoMeiTemplate" resultMap="BaseResultMap" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        select
        <include refid="Base_Activity_GuoMei_show_List" />
        from t_guomei_template G
        left join t_activity A on G.act_id = A.id
        where  md5(G.id_card) = #{idCard,jdbcType=VARCHAR}
        and G.student_name = #{studentName,jdbcType=VARCHAR}
        and G.act_id = #{actId,jdbcType=INTEGER}
        order by G.id desc ;
    </select>

    <select id="queryGuoMeiTemplateById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_guomei_template G
        where id = #{gmId,jdbcType=INTEGER}
    </select>

    <select id="queryGuoMeiTemplateList" resultMap="BaseResultMap"
            parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate">
        select
        <include refid="Base_Activity_GuoMei_List"/>
        from t_guomei_template G
        left join t_activity A on G.act_id = A.id
        <include refid="Base_Where_Clause"/>
        order by G.id desc
    </select>

    <delete id="deleteGuoMeiTemplateById" parameterType="java.lang.Integer" >
        delete from t_guomei_template
        where id = #{gmId,jdbcType=INTEGER}
    </delete>

    <insert id="insertGuoMeiTemplate" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        insert into t_guomei_template
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="numberId != null and numberId !=''">
                number_id,
            </if>
            <if test="studentName != null and studentName !=''">
                student_name,
            </if>
            <if test="birthDate != null">
                birth_date,
            </if>
            <if test="worksName != null and worksName !=''">
                works_name,
            </if>
            <if test="profession != null and profession !=''">
                profession,
            </if>
            <if test="results != null and results !=''">
                results,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null and createUser !=''">
                create_user,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="actId != null">
                act_id,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="numberId != null and numberId !=''">
                #{numberId,jdbcType=INTEGER},
            </if>
            <if test="studentName != null and studentName !=''">
                #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                #{birthDate,jdbcType=TIMESTAMP},
            </if>
            <if test="worksName != null and worksName !=''">
                #{worksName,jdbcType=VARCHAR},
            </if>
            <if test="profession != null and profession !=''">
                #{profession,jdbcType=VARCHAR},
            </if>
            <if test="results != null and results !=''">
                #{results,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null and createUser !=''">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=INTEGER},
            </if>
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateGuoMeiTemplateById" parameterType="com.tutuniao.tutuniao.entity.GuoMeiTemplate" >
        update t_guomei_template
        <set >
            <if test="numberId != null and numberId !=''">
                number_id = #{numberId,jdbcType=INTEGER},
            </if>
            <if test="studentName != null and studentName !=''">
                student_name = #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                birth_date =  #{birthDate,jdbcType=TIMESTAMP},
            </if>
            <if test="worksName != null and worksName !=''">
                works_name = #{worksName,jdbcType=VARCHAR},
            </if>
            <if test="profession != null and profession !=''">
                profession = #{profession,jdbcType=VARCHAR},
            </if>
            <if test="results != null and results !=''">
                results = #{results,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null and createUser !=''">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                valid = #{valid,jdbcType=INTEGER},
            </if>
            <if test="actId != null">
                act_id = #{actId,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>